.background
{
    -fx-pref-height: 800px;
    -fx-pref-width: 400px;
    -fx-min-height: 800px;
    -fx-min-width: 400px;
    -fx-max-height: 800px;
    -fx-max-width: 400px; 
}

.imageview
{
    -fx-background-size: 300px 300px;
}

GridPane .label
{
    -fx-font-size: 20px;
}
GridPane  .button
{

}


.titledpane
{
    -fx-pref-height: 400px;
    -fx-pref-width: 400px;
    -fx-min-height: 400px;
    -fx-min-width: 400px;
    -fx-max-height: 400px;
    -fx-max-width: 400px; 
}






